<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/my-socnet-style.css" rel="stylesheet" type="text/css"/>
    <title>
        Ingresando a La Facultad
    </title>
</head>
<body>
<h1>
    Error
</h1>
The following error was found:
---> {{ error_message }} <---
<div>
    <form action="{{ next }}" method="get">
        <div class="inputs">
            <input id="next" name="next" type="submit" value="Continue"/>
        </div>
    </form>
</div>
</body>
</html>