<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <title>Ingresando a la Facutlad</title>
</head>
<body>
    <nav id="encabezado">
        <div class="title">
            <h3>Ingresando a la facultad</h3>
        </div>
        <ul class="nav_links">
            <li>
                <a href="#">Menu</a>
            </li>
            <li>
                <a href="#">Materias</a>
            </li>
            <li>
                <a href="#">Foro</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="#">Iniciar Sesion</a>
            </li>
            <li>
                <a href="#">Registrarse</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script src="../functionality/app.js"></script>
</body>
</html>