<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <title>Registrarse</title>
</head>

<body>
    <nav id="encabezado">
        <div class="title">
            <h3>Ingresando a la facultad</h3>
        </div>
        <ul class="nav_links">
            <li>
                <a href="index.html">Menu</a>
            </li>
            <li>
                <a href="#">Materias</a>
            </li>
            <li>
                <a href="#">Foro</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="login.html">Iniciar Sesion</a>
            </li>
            <li>
                <a href="register.html">Registrarse</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="st_image"></div>
    <div id="container_register">
        <form action="">
            <label class="form_title">Registrarse</label><br>
            <input type="text" placeholder="Usuario"><br>
            <input type="text" placeholder="Correo"><br>
            <input type="text" placeholder="Nombre"><br>
            <input type="text" placeholder="Apellido"><br>
            <input type="password" placeholder="Clave"><br>
            <input type="password" placeholder="Confirmar Clave"><br>
            <input type="submit" value="Crear Cuenta"><br>
            <span><a class="register_span_a" href="login.html">Ya tienes una cuenta?<br>Inicia Sesion</a></span><br>
            <br>
        </form>
    </div>
    <script src="../functionality/app.js"></script>
</body>

</html>